In [5]:
import pandas as pd

vine_df = pd.read_csv('../Module_17/Vine_Review_Analysis.csv')
vine_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R215C9BDXTDQOW,4.0,0.0,0.0,N,Y
1,R1DTPUV1J57YHA,5.0,0.0,0.0,N,Y
2,RFAZK5EWKJWOU,5.0,0.0,0.0,N,Y
3,R2XT8X0O0WS1AL,5.0,0.0,0.0,N,Y
4,R14GRNANKO2Y2J,5.0,0.0,0.0,N,Y
5,R2BLF9VYL24LCQ,5.0,1.0,1.0,N,Y
6,R1GI9UW5KJ671O,5.0,0.0,0.0,N,Y
7,R2H5CEJN863M86,5.0,0.0,1.0,N,Y
8,R5PPDHFOZ3SMU,5.0,0.0,0.0,N,Y
9,RE1L9IENKJJ7Y,1.0,0.0,0.0,N,Y

In [8]:
total_votes_df = vine_df[vine_df['total_votes'] >= 20]
total_votes_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
270,R2VIQ3UX794Q0O,4.0,21.0,21.0,N,Y
427,R1OA24IIHWF54G,5.0,43.0,45.0,N,Y
503,RJ7N3OOJR9RL0,4.0,63.0,71.0,N,Y
520,R1W8778CBXSRU6,5.0,28.0,29.0,N,Y
621,R2EFAM03SWLIJX,1.0,32.0,35.0,N,Y
696,R3F8P56ZDJ6PI8,4.0,106.0,115.0,N,Y
717,R2QYLQEK9UAJQ6,5.0,33.0,34.0,N,Y
937,RQCC7XNYI014B,1.0,91.0,92.0,N,Y
1035,R2U8FRHRVW5D2C,5.0,23.0,23.0,N,N
1047,R3RJZC5J4VP7AT,4.0,86.0,91.0,N,N

In [11]:
helpful_votes_df = total_votes_df[total_votes_df['helpful_votes'] / total_votes_df['total_votes'] >= .5]
helpful_votes_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
270,R2VIQ3UX794Q0O,4.0,21.0,21.0,N,Y
427,R1OA24IIHWF54G,5.0,43.0,45.0,N,Y
503,RJ7N3OOJR9RL0,4.0,63.0,71.0,N,Y
520,R1W8778CBXSRU6,5.0,28.0,29.0,N,Y
621,R2EFAM03SWLIJX,1.0,32.0,35.0,N,Y
696,R3F8P56ZDJ6PI8,4.0,106.0,115.0,N,Y
717,R2QYLQEK9UAJQ6,5.0,33.0,34.0,N,Y
937,RQCC7XNYI014B,1.0,91.0,92.0,N,Y
1035,R2U8FRHRVW5D2C,5.0,23.0,23.0,N,N
1047,R3RJZC5J4VP7AT,4.0,86.0,91.0,N,N

In [13]:
paid_reviews_df = helpful_votes_df[helpful_votes_df['vine'] == 'Y']
paid_reviews_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4983,R29V4UDSS053D8,3.0,33.0,38.0,Y,N
47803,R1I2D068WC37PA,3.0,32.0,37.0,Y,N
204900,R13W2U74F67QED,5.0,62.0,76.0,Y,N
208432,R2QI37XFOBKUGD,4.0,24.0,33.0,Y,N
226580,R19F60BB2DNCKN,5.0,170.0,174.0,Y,N
272629,R2PYNEWYYQDWHI,5.0,24.0,27.0,Y,N
299467,R1UEWHCPJL2XJB,5.0,70.0,72.0,Y,N
306331,RXTMMEBRYZB53,5.0,21.0,24.0,Y,N
333723,R1PXVYIYMYGUZL,5.0,21.0,26.0,Y,N
338504,RSFMJJXFZHX1C,5.0,24.0,25.0,Y,N

In [14]:
unpaid_reviews_df = helpful_votes_df[helpful_votes_df['vine'] == 'N']
unpaid_reviews_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
270,R2VIQ3UX794Q0O,4.0,21.0,21.0,N,Y
427,R1OA24IIHWF54G,5.0,43.0,45.0,N,Y
503,RJ7N3OOJR9RL0,4.0,63.0,71.0,N,Y
520,R1W8778CBXSRU6,5.0,28.0,29.0,N,Y
621,R2EFAM03SWLIJX,1.0,32.0,35.0,N,Y
696,R3F8P56ZDJ6PI8,4.0,106.0,115.0,N,Y
717,R2QYLQEK9UAJQ6,5.0,33.0,34.0,N,Y
937,RQCC7XNYI014B,1.0,91.0,92.0,N,Y
1035,R2U8FRHRVW5D2C,5.0,23.0,23.0,N,N
1047,R3RJZC5J4VP7AT,4.0,86.0,91.0,N,N

In [17]:
# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews
# for paid reviews.
paid_count = paid_reviews_df.count()
# print(paid_count)
paid_top_reviews = len(paid_reviews_df[paid_reviews_df['star_rating'] >= 5])
# print(paid_top_reviews)
paid_reviews_percentage = paid_top_reviews / paid_count
print(paid_reviews_percentage)

review_id            0.469925
star_rating          0.469925
helpful_votes        0.469925
total_votes          0.469925
vine                 0.469925
verified_purchase    0.469925
dtype: float64

In [18]:
# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews
# for unpaid reviews.
unpaid_count = unpaid_reviews_df.count()
unpaid_top_reviews = len(unpaid_reviews_df[unpaid_reviews_df['star_rating'] >= 5])
unpaid_reviews_percentage = unpaid_top_reviews / unpaid_count
print(unpaid_reviews_percentage)

review_id            0.469907
star_rating          0.469907
helpful_votes        0.469907
total_votes          0.469907
vine                 0.469907
verified_purchase    0.469907
dtype: float64